<h1><%= @topic.name %></h1>

<% if user_is_authorised_to_edit_topics? %>
    <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
<% end %>

<% if user_is_authorised_to_create_or_delete_topics? %>
    <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger' %>
<% end %>
<br><br>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description%></p>

      <%= render partial: "labels/list", locals: { labels: @topic.labels} %>

    <br><br>
    <h4>Posts</h4>
    <%= render @topic.posts %>
    <br><br><br><br><br><br><br><br><br>
    <h4>Sponsored Posts</h4>
    <%= render @topic.sponsored_posts %>
    <br><br>
    <h3>Comments</h3>
    <%= render @topic.comments %>
    <% if current_user %>
        <%= render 'comments/form', comment: Comment.new, post: @topic %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if current_user %>
        <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
    <% end %>
    <% if current_user && current_user.admin? %>
        <%= link_to "New Sponsored Post", new_topic_sponsored_post_path(@topic), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>