<div class="row">
  <div class="col-md-8">
    <div class="media">
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading">
          <%= @user.name %>
        </h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <div class='js-comments-count'>
            <%= pluralize(@user.comments.count, 'comment') %>
          </div>
        </small>
      </div>
    </div>
  </div>
</div>

<h4>Posts</h4>
<%= render @user.posts %>

<h4>Comments</h4>
<%= render @user.comments %>