<div class="row">
  <div class="col-md-8">
    <div class="media">
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading">
          <%= @user.name %>
        </h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>


<h4>Posts</h4>
<% if @user.has_posts? %>
    <%= render @user.posts %>
<% else %>
    <h5><%="#{@user.name} has not created any posts yet" %></h5>
<% end %>


<h4>Favourite Posts</h4>
<% if @user.has_favourites? %>
    <% @user.favourites.each do |f| %>
        <%= render partial: 'posts/favourite_post', locals: { post: f.post } %>
    <% end %>
<% else %>
    <h5><%="#{@user.name} has not favourited any posts yet" %></h5>
<% end %>


<h4>Comments</h4>
<% if @user.has_comments? %>
    <%= render @user.comments %>
<% else %>
    <h5><%="#{@user.name} has not created made any comments yet" %></h5>
<% end %>



