<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>This is a reddit clone.<p>
  <p>To practice fundamentals of Ruby on Rails Development</p>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-success' %>
    <%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">

  <div class="col-md-4">
    <h2><%= Faker::Hipster.words(2).join(' ') %></h2>
    <p><%= Faker::Hipster.paragraph %></p>
  </div>

  <div class="col-md-4">
    <h2><%= Faker::Hipster.words(2).join(' ') %></h2>
    <p><%= Faker::Hipster.paragraph %></p>
  </div>

  <div class="col-md-4">
    <h2><%= Faker::Hipster.words(2).join(' ') %></h2>
    <p><%= Faker::Hipster.paragraph %></p>
  </div>

</div>