<% if current_user %>
    <div class="col-xs-1 voter">
      <%= render partial: 'votes/voter', locals: { post: post } %>
    </div>
    <div class="col-xs-11">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to post.title, topic_post_path(post.topic, post) %>
            <%= render partial: "labels/list", locals: { labels: post.labels } %>
            <br>
            <small>
              <b><%= post.user.name %></b> submitted <%= time_ago_in_words(post.created_at) %> ago
              <br>
              <%= pluralize(post.comments.count, 'Comment', 'Comments') %>
            </small>
          </h4>
          <br>
        </div>
      </div>
    </div>
<% else %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to post.title, topic_post_path(post.topic, post) %>
          <%= render partial: "labels/list", locals: { labels: post.labels } %>
          <br>
          <small>
            <b><%= post.user.name %></b> submitted <%= time_ago_in_words(post.created_at) %> ago
            <br>
            <%= pluralize(post.comments.count, 'Comment', 'Comments') %>
          </small>
        </h4>
      </div>
    </div>
<% end %>